h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color:navy;
}
body{
    background-image:url(https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}